.ui.reveal.column {
    text-align: center;
    cursor: pointer;
}

.ui.reveal.column:nth-child(1) {
    color: rgb(3, 74, 124);
    transition: color 0.67s ease-in-out 0s;
}

.ui.reveal.column:nth-child(2) {
    color: rgb(53, 73, 136);
    transition: color 0.67s ease-in-out 0s;
}

.ui.reveal.column:nth-child(3) {
    color: rgb(92, 68, 141);
    transition: color 0.67s ease-in-out 0s;
}

.ui.reveal.column:nth-child(4) {
    color: rgb(129, 58, 137);
    transition: color 0.67s ease-in-out 0s;
}

.ui.reveal.column:nth-child(5) {
    color: rgb(161, 43, 123);
    transition: color 0.67s ease-in-out 0s;
}

.ui.reveal.column:nth-child(6) {
    color: rgb(186, 25, 101);
    transition: color 0.67s ease-in-out 0s;
}

.ui.reveal.column:nth-child(7) {
    color: rgb(202, 19, 73);
    transition: color 0.67s ease-in-out 0s;
}

.ui.reveal.column:nth-child(8) {
    color: rgb(208, 41, 39);
    transition: color 0.67s ease-in-out 0s;
}

.ui.reveal.column:nth-child(9) {
    color: rgb(178, 60, 5);
    transition: color 0.67s ease-in-out 0s;
}

.ui.reveal.column:nth-child(10) {
    color: rgb(155, 81, 0);
    transition: color 0.67s ease-in-out 0s;
}

.ui.reveal.column:nth-child(11) {
    color: rgb(86, 65, 0);
    transition: color 0.67s ease-in-out 0s;
}

.ui.reveal.column:nth-child(12) {
    color: rgb(117, 122, 0);
    transition: color 0.67s ease-in-out 0s;
}

.ui.reveal.column:hover:nth-child(1) {
    color: rgb(178, 60, 5);
    transition: color 0.67s ease-in-out 0s;
}

.ui.reveal.column:hover:nth-child(2) {
    color: rgb(155, 81, 0);
    transition: color 0.67s ease-in-out 0s;
}

.ui.reveal.column:hover:nth-child(3) {
    color: rgb(81, 61, 0);
    transition: color 0.67s ease-in-out 0s;
}

.ui.reveal.column:hover:nth-child(4) {
    color: rgb(117, 122, 0);
    transition: color 0.67s ease-in-out 0s;
}

.ui.reveal.column:hover:nth-child(5) {
    color: rgb(208, 41, 39);
    transition: color 0.67s ease-in-out 0s;
}

.ui.reveal.column:hover:nth-child(6) {
    color: rgb(202, 19, 73);
    transition: color 0.67s ease-in-out 0s;
}

.ui.reveal.column:hover:nth-child(7) {
    color: rgb(186, 25, 101);
    transition: color 0.67s ease-in-out 0s;
}

.ui.reveal.column:hover:nth-child(8) {
    color: rgb(161, 43, 123);
    transition: color 0.67s ease-in-out 0s;
}

.ui.reveal.column:hover:nth-child(9) {
    color: rgb(129, 58, 137);
    transition: color 0.67s ease-in-out 0s;
}

.ui.reveal.column:hover:nth-child(10) {
    color: rgb(92, 68, 141);
    transition: color 0.67s ease-in-out 0s;
}

.ui.reveal.column:hover:nth-child(11) {
    color: rgb(53, 73, 136);
    transition: color 0.67s ease-in-out 0s;
}

.ui.reveal.column:hover:nth-child(12) {
    color: rgb(3, 74, 124);
    transition: color 0.67s ease-in-out 0s;
}

.ui.move.reveal > .content {
    display: block!important;
}

.ui.reveal.column .visible.content {
    width: 100%
}

.ui.move.up.reveal:hover > .visible.content {
    transform: translateY(-130%) !important;
}

.ui.reveal.column svg {
    font-size: 8em;
}

#api-link::after {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    color: white;
    content: "API";
    padding: 0.15em;
    top: calc(50% - 13px);
    left: calc(50% - 45px);
    position: absolute;
}

.ui.move.reveal .hidden.content {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    word-wrap: break-word;
    word-break: break-word;
    transform: translateY(600%)!important;
}

.ui.move.reveal:hover .hidden.content {
    transform: translateY(35%)!important;
}

.ui.move.reveal .hidden.content p {
    font-size: 1.5em;
}

.ui.basic.segments .segment .header {
    font-size: 1.75em;
}

#claim-portal-link {
    font-size: 8em;
    color: #2a3f54;
    transition: color 0.67s ease-in-out 0s, text-outline 0.67s ease-in-out 0s;
}

#claim-portal-link:hover {
    color: #d5c0ab;
    text-outline: #2a3f54 1px;
    transition: color 0.67s ease-in-out 0s, text-outline 0.67s ease-in-out 0s;
}

#system-diagram p {
    font-size: 1.05em;
    padding-top: 1em;
}

#system-diagram .light-blue {
    font-weight: 700;
    color: #00ccff;
}