:not(.ui.label).color_class_1, :not(.ui.label).color_class_2, :not(.ui.label).color_class_3,
:not(.ui.label).color_class_4, :not(.ui.label).color_class_5, :not(.ui.label).color_class_6,
:not(.ui.label).color_class_7, :not(.ui.label).color_class_8, :not(.ui.label).color_class_9,
:not(.ui.label).color_class_10 {
	padding: 2px;
    border-radius: 0.20em;
}

.color_class_1 {
	color: #222 !important;
	text-shadow: 0 1px 3px rgba(255, 255, 255, 0.33);
    background: #EBF0FF !important;
}

.color_class_2 {
	color: #222 !important;
	text-shadow: 0 1px 3px rgba(255, 255, 255, 0.33);
    background: #D6E0FF !important;
}

.color_class_3 {
	color: #222 !important;
	text-shadow: 0 1px 3px rgba(255, 255, 255, 0.33);
    background: #C2D1FF !important;
}

.color_class_4 {
	color: #222 !important;
	text-shadow: 0 1px 3px rgba(255, 255, 255, 0.33);
    background: #ADC2FF !important;
}

.color_class_5 {
	color: #222 !important;
	text-shadow: 0 1px 3px rgba(255, 255, 255, 0.33);
    background: #99B2FF !important;
}

.color_class_6 {
	color: #ffffff !important;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.33);
    background: #85A3FF !important;
}

.color_class_7 {
	color: #ffffff !important;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.33);
    background: #7094FF !important;
}

.color_class_8 {
	color: #ffffff !important;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.33);
    background: #5C85FF !important;
}

.color_class_9 {
	color: #ffffff !important;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.33);
    background: #4775FF !important;
}

.color_class_10 {
	color: #ffffff !important;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.33);
    background: #3366FF !important;
}

.color_class_text_1 {
    color: #EBF0FF;
}

.color_class_text_2 {
    color: #D6E0FF;
}

.color_class_text_3 {
    color: #C2D1FF;
}

.color_class_text_4 {
    color: #ADC2FF;
}

.color_class_text_5 {
    color: #99B2FF;
}

.color_class_text_6 {
    color: #85A3FF;
}

.color_class_text_7 {
    color: #7094FF;
}

.color_class_text_8 {
    color: #5C85FF;
}

.color_class_text_9 {
    color: #4775FF;
}

.color_class_text_10 {
    color: #3366FF;
}

#cws-slider li.label {
    color: black;
}

#cws-slider .track {
    border-radius: 0;
    background-color: transparent;
    background-image: linear-gradient(to right, #ebf0ff, #3366ff);
}

#cws-slider .track-fill {
    background-color: transparent;
}