#divRanked {
    height: 350px;
    width: 600px;
    border: 1px solid #ccc;
    padding: 5px;
    overflow-y: scroll;
}

.divTranscript {
    line-height: 200%;
}

#divChron {
    height: 350px;
    width: 600px;
    border: 1px solid #ccc;
    padding: 5px;
    overflow-y: scroll;
}